@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

body {
    //kalo margin ga 0 nanti bakal ada scroll
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsl(240, 18%, 77%);
    background: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 320px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .background-pattern {
            position: absolute;
            top: 50px;
            width: 90%;
            height: 330px;
            z-index: -1;
        }

        .review-navigation {
            position: absolute;
            width: 80px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            top: 325px;

            .navigation-left, .navigation-right {
                width: 50%;
                height: 100%;
                border: transparent;
                cursor: pointer;
                outline: none;
                background-color: whitesmoke;
            }

            .navigation-left {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .navigation-right {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }

        .review {
            display: flex;
            margin-top: 82px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .review-photo {
                width: 265px;
                height: 265px;
                border-radius: 10px;
            }

            .review-content {
                margin-top: 90px;
                text-align: center;
                padding: 0px 20px 1px 20px;
                color: hsl(240, 38%, 20%);
                position: relative;


                .review-quotes {
                    //kalo mau gerak berdasarkan parent maka posisi parent harus non static
                    position: absolute;
                    width: 60px;
                    height: 50px;
                    top: -30px;
                    left: 45%;
                }

                .review-description {
                    font-weight: 100;
                }

                .reviewer-name {
                    margin-top: 20px;
                    font-weight: 700;
                }

                .reviewer-job {
                    color: hsl(240, 18%, 77%);
                    font-weight: 500;
                }
            }
        }
    }
}


.attribution {
    position: absolute;
    text-align: center;
    bottom: 2px;
    font-size: 12px;
}