@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  margin: 0;
  min-width: 350px;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: #ecf2f8;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  max-width: 350px;
  height: 50%;
}

body main .foto {
  width: 100%;
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
  max-height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

body main .description {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 30px 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .description .description-title, body main .description .description-content {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #48556a;
}

body main .description .description-title {
  font-size: 20px;
  font-weight: 700;
}

body main .description .description-content {
  color: #6d7f97;
  font-size: 15px;
}

body main .description .description-profile {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .description .description-profile .profile-photo {
  width: 15%;
  margin-right: 15px;
}

body main .description .description-profile .profile-photo img {
  width: 45px;
  height: 45px;
  border-radius: 20px;
}

body main .description .description-profile .profile-container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .description .description-profile .profile-container .profile-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main .description .description-profile .profile-container .profile-content .profile-name {
  margin-bottom: 5px;
  font-weight: 700;
  color: #48556a;
}

body main .description .description-profile .profile-container .profile-content .profile-post {
  font-weight: 500;
  color: #6d7f97;
}

body main .description .description-profile .profile-container .profile-share-button {
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  border: transparent;
  cursor: pointer;
  outline: none;
  z-index: 2;
  background-color: #ecf2f8;
}

body main .description .description-profile .profile-container .profile-share-button svg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main .description .description-profile .profile-container .profile-share-button svg path {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translate(0, -15.674);
          transform: translate(0, -15.674);
  z-index: 3;
}

body main .description .description-profile .profile-container .profile-share-button:hover, body main .description .description-profile .profile-container .profile-share-button:focus {
  background-color: #6d7f97;
}

body main .description .description-profile .profile-container .profile-share-button:hover svg path, body main .description .description-profile .profile-container .profile-share-button:focus svg path {
  background-color: white;
}

body main .callout {
  background-color: #48556a;
  width: 100%;
  height: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  left: 0;
  color: #6d7f97;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 25px 120px 25px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .callout span {
  font-size: 13px;
  letter-spacing: 5px;
  font-weight: 700;
}

body main .callout .social-media {
  width: 20px;
  height: 20px;
}

.attribution {
  margin-top: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  body {
    padding: 0;
  }
  body main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 700px;
    max-width: 700px;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body main .foto {
    width: 40%;
    height: 100%;
    max-height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }
  body main .description {
    width: 70%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body main .callout {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    padding: 15px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: auto;
    bottom: 80px;
    right: -60px;
  }
  body main .callout::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 51%;
    width: 0;
    border-top: 15px solid #48556a;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}
/*# sourceMappingURL=main.css.map */