@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        min-width: 350px;


        .brand-logo {
            margin: 20px;
            width: 100px;
            height: 20px;
        }

        
        .model-photo-desktop {
            display: none;
        }

        .content {
            margin-top: 50px;
            color: hsl(0, 36%, 70%);
            padding: 10px 20px 20px 20px;
            text-align: center;

            .content-title {
                font-size: 40px;
                text-transform: uppercase;
                letter-spacing: 8px;
                font-weight: 300;

                span {
                    font-weight: 600;
                    color: black;
                }
            }

            .content-description {
                margin-top: 20px;
                line-height: 1.4;
            }

            form {
                margin-top: 25px;
                position: relative;
                width: 100%;
                

                input {
                    border: 0.5px solid hsl(0, 36%, 70%);
                    width: inherit;
                    padding: 5px 10px 5px 25px;
                    height: 45px;
                    border-radius: 25px;
                    box-sizing: border-box;
                    outline: none;
                    background-color: transparent;
                }

                ::placeholder {
                    color:  hsl(0, 36%, 70%);
                    font-size: 15px;
                    font-family: 'Josefin Sans', sans-serif;
                }
                
                .btn-email {
                    position: absolute;
                    width: 60px;
                    height: 45px;
                    cursor: pointer;
                    bottom: 32px;
                    right: 0;
                    border: none;
                    outline: none;
                    box-shadow: 16px black;
                    border-radius: 35px;
                    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                }

                //creates a pseudo-element that is the first child of the selected element. 
                //It is often used to add cosmetic content to an element with the content property. It is inline by default.
                .btn-email::before {
                    //membuat bentuk lagi
                    display: none;
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: rgba(255,255,255,0.5);
                    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
                    border-radius: 2.8rem;
                }

                .btn-email:hover::before {
                    display: inline;
                  }

                .error-icon {
                    position: absolute;
                    bottom: 42px;
                    right: 70px;
                    visibility: hidden;
                }

                .error-message {
                    margin-top: 15px;
                    color: #f96262;
                    visibility: hidden;
                }
            }
        }
    }

}

@media screen and (min-width: 900px) {
    body {

        main {
            flex-direction: row-reverse;
            max-width: none;
            min-width: 1125px;
    

            .brand-logo {
                margin: 70px 0px 0px 180px;
                left: 0;
                position: absolute;
            }


            .model-photo-mobile {
                display: none;
            }

            .model-photo-desktop {
                display: block;
                width: 40%;
                //ternyata scale tu bakal ninggalin ruang
            }

            .content {
                margin: 170px 230px 0px 180px;
                text-align: left;
                padding: 0;

                .content-title {
                    letter-spacing: 10px;
                    line-height: 1.5;
                }
            }
        }
    }
}