@import 'mixins';

.header {
    @include flexdisplay(row, space-between);
    padding: 20px;
    width: 100%;

    @at-root #{&}__logo {
        img {
            width: 50%;
            height: 100%;
        }
    }

    @at-root #{&}__btn {
        @include btn(20px, 2px solid $color-primary-pink, 20px, white, $color-primary-pink);
        width: 80px;
        height: 30px;
    }

    @at-root #{&}__btn:hover {
        @include btn(20px, 2px solid $color-primary-pink, 20px, $color-primary-pink, white);
        width: 80px;
        height: 30px;
    }
}