@import 'mixins';

.header {
    @include flexdisplay(row, space-between);
    padding: 20px;
    width: 100%;
    
    //seleksi penamaan BEM header__logo
    @at-root #{&}__logo {
        img {
            width: 50%;
            height: 100%;
        }
    }

    & &__btn {
        @include btn(80px, 2px solid $color-primary-pink, 20px, white, $color-primary-pink);
        height: 30px;
    }

    & &__btn:hover {
        @include btn(80px, 2px solid $color-primary-pink, 20px, $color-primary-pink, white);
    }
}

@media only screen and (min-width:1250px) {
    .header {
        padding: 50px;

        @at-root #{&}__logo {
            img {
                width: 70%;
            }
        }
    }
}