@import 'mixins';

.starter {
    @include flexdisplay();
    text-align: center;
    padding: 30px;

    //seleksi penamaan BEM, ga tau kadang ini bisa kadang harus pake yang  @at-root #{&}__
    & &__description{
        margin-top: 20px;
    }

    @at-root #{&}__illustration {
        margin-top: 50px;
        width: 90%;
    }

    @at-root #{&}__btn {
        @include btn(160px, 2px solid $color-primary-pink, 25px, $color-primary-pink, white);
        height: 40px;
        margin-top: 30px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    }

    @at-root #{&}__btn:hover {
        @include btn(160px, 2px solid $color-primary-pink, 25px, white, $color-primary-pink);
    }
}

@media only screen and (min-width:1250px) {
    .starter {
        padding: 80px;
        @at-root #{&}__title {
            font-size: 35px;
        }

        @at-root #{&}__description {
            margin: 30px 300px 30px 300px;
        }

        @at-root #{&}__illustration {
            width: 80%;
        }

        @at-root #{&}__btn {
            margin: 0px 0px 30px 0px;
        }
    }
}