@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap");
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #babacf;
  background: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 320px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  min-width: 350px;
}

body main .background-pattern {
  position: absolute;
  top: 50px;
  width: 90%;
  height: 330px;
  max-width: 360px;
  min-width: 350px;
  z-index: -1;
}

body main .review-navigation {
  position: absolute;
  width: 110px;
  height: 50px;
  z-index: 1;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 325px;
}

body main .review-navigation .navigation-left, body main .review-navigation .navigation-right {
  width: 50%;
  height: 100%;
  border: transparent;
  cursor: pointer;
  outline: none;
  background-color: white;
}

body main .review-navigation .navigation-left:hover, body main .review-navigation .navigation-right:hover {
  background-color: #babacf;
}

body main .review-navigation .navigation-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

body main .review-navigation .navigation-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body main .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .review .review-photo {
  width: 265px;
  height: 265px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 20px 0px #00000066;
          box-shadow: 0px 20px 20px 0px #00000066;
}

body main .review .review-content {
  margin-top: 90px;
  text-align: center;
  padding: 0px 20px 1px 20px;
  color: #202046;
  position: relative;
}

body main .review .review-content .review-quotes {
  position: absolute;
  width: 60px;
  height: 50px;
  top: -30px;
  left: 45%;
}

body main .review .review-content .review-description {
  font-weight: 100;
}

body main .review .review-content .reviewer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

body main .review .review-content .reviewer-container .reviewer-name {
  font-weight: 700;
}

body main .review .review-content .reviewer-container .reviewer-job {
  color: #babacf;
  font-weight: 500;
}

body main .slide1, body main .slide2 {
  visibility: hidden;
  position: absolute;
}

body main .aktif {
  visibility: visible;
  position: relative;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.attribution {
  position: absolute;
  text-align: center;
  bottom: 2px;
  font-size: 12px;
}

@media screen and (min-width: 1100px) {
  body {
    background-size: 450px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main {
    width: 80%;
    max-width: none;
    font-size: 32px;
  }
  body main .background-pattern {
    max-width: none;
    min-width: none;
    width: 550px;
    height: 550px;
    top: 50px;
    right: 80px;
  }
  body main .review-navigation {
    top: auto;
    bottom: 70px;
    right: 450px;
  }
  body main .review {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 0;
  }
  body main .review .review-photo {
    width: 470px;
    height: 470px;
    margin-left: 20px;
    position: relative;
    right: 50px;
  }
  body main .review .review-content {
    margin-top: 20px;
    left: 50px;
    text-align: left;
  }
  body main .review .review-content .review-quotes {
    width: 80px;
    height: 70px;
    left: 80px;
    top: -40px;
  }
  body main .review .review-content .reviewer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
  }
  body main .review .review-content .reviewer-container .reviewer-name, body main .review .review-content .reviewer-container .reviewer-job {
    font-size: 20px;
  }
  body main .review .review-content .reviewer-container .reviewer-job {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=main.css.map */