@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// color
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// typography
$font-size-body: 16px;
$font-family-headings: 'DM Serif Display', serif;
$font-family-body: 'Karla', sans-serif;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: $font-size-body;
}

body {
    color: $very-dark-violet;
    font-size: $font-size-body;
    text-align: center;
    font-family: $font-family-body;

    h1, h2, h3, h4 {
        font-family: $font-family-headings;
        font-weight: 400;
    }

    button {
        color: $very-light-gray;
        background: transparent;
        border: 1px solid $very-light-gray;
        height: 2.5rem;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 2px;
    }

    button:hover {
        color: $dark-violet;
        background: $very-light-gray;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 1rem;

        .menu-ham {
            cursor: pointer;
        }

        .menu-close {
            display: none;
        }

        .menu-ham.active {
            display: none;
        }

        .menu-close.active {
            display: block;
        }

        .menu.active {
            transform: translateX(0);
        }

        .menu {
            position: fixed;
            background-color: $very-dark-violet;
            width: 100%;
            height: 90%;
            left: 0;
            top: 4.5rem;
            z-index: 3;
            font-weight: 700;
            letter-spacing: 0.2em;
            transform: translateX(-100%);
            transition: 1s ease;

            ul {
                display: flex;
                flex-direction: column;
                height: 50%;
                justify-content: space-evenly;
                align-items: center;
            }

            ul li {
                list-style: none;
                text-transform: uppercase;
                color: $very-light-gray;
                width: 80%;
                height: 40px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            ul li:last-child {
                border: 1px solid $very-light-gray;
            }

            ul li:hover {
                text-decoration: underline solid $very-light-gray;
            }

            ul li:last-child:hover {
                text-decoration: none;
                background-color: $very-light-gray;
                color: $very-dark-violet;
            }

            img {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .introduction {
        background-color: $dark-violet;
        color: $very-light-gray;
        position: relative;

        .intro-mobile {
            width: 100%;
        }

        .intro-desktop {
            display: none;
        }

        .content{
            padding: 6rem 1rem 7rem 1rem;
            position: relative;
            z-index: 2;

            h1 {
                font-size: 2.8rem;
            }

            p {
                margin: 1rem 0 2rem 0;
                line-height: 1.5em;
            }

            button {
                width: 9.5rem;
            }
        }

        .content::before {
            content: '';
            background: url(../images/bg-pattern-intro-left-mobile.svg) no-repeat;
            position: absolute;
            background-position: top left;
            width: 100%;
            height: 100%;
            top: -5px;
            right: 0;
        }

        .content::after {
            content: '';
            background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat;
            background-position: bottom right;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -170px;
            right: 0;
        }
    }

    main {
        padding: 7rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .line {
            display: block;
            width: 50%;
            height: 1px;
            background-color: $dark-grayish-violet;
        }

        h1 {
            font-size: 2.8rem;
            margin: 2rem 0 3rem 0;
        }

        .content {
            padding: 0 0.5rem;
            line-height: 1.5em;
            display: grid;
            grid-template-columns: auto;
            gap: 2.5rem 0;
            grid-template-areas: "snappy" "prices" "people";

            h2 {
                margin: 2rem 0 1rem 0;
            }

            .snappy {
                grid-area: snappy;
            }

            .prices {
                grid-area: prices;
            }

            .people {
                grid-area: people;
            }
        }
    }

    .closing {
        background-color: $dark-violet;
        color: $very-light-gray;

        .content {
            background: url(../images/bg-pattern-how-we-work-mobile.svg) no-repeat;
            background-position: top right;
            background-size: contain;
            padding: 4rem 1rem;

            h1 {
                font-size: 2.8rem;
                margin-bottom: 2rem;
            }
    
            button {
                width: 10rem;
            }
        }
    }

    footer {
        margin-top: 8rem;
        background-color: $very-light-gray;
        text-transform: uppercase;
        font-weight: 700;
        color: $very-dark-violet;


        .footer__child {
            padding: 5rem 1rem;
            background: url(../images/bg-pattern-footer-mobile.svg) no-repeat;
            background-position: top left;
            background-size: contain;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .sosmed {
                    width: 9rem;
                    display: flex;
                    justify-content: space-between;
                    margin: 2rem 0 3rem 0;
        
                    .fab {
                        font-size: 1.7em;
                        color: $dark-grayish-violet;
                        cursor: pointer;
                    }
        
                    .fab:hover {
                        color: $dark-violet;
                    }
                }
            }
    
            .line {
                display: block;
                width: 100%;
                height: 1px;
                background-color: $dark-grayish-violet;
            }
    
            .footer__menu {
                margin-top: 3rem;
                display: grid;
                gap: 2.5rem 0;
                grid-template-areas: "company" "help" "contact" "others";
    
                ul li:first-child {
                    color: $dark-grayish-violet;
                    margin-bottom: 1.5rem;
                }
    
                .company {
                    grid-area: company;
                }
    
                .help {
                    grid-area: help;
                }
    
                .contact {
                    grid-area: contact;
                }
    
                .others {
                    grid-area: others;
                }
    
                ul {
                    display: grid;
                    gap: 1rem 0;
                }
    
                ul li {
                    cursor: pointer;
                    list-style: none;
                }

                li a:hover {
                    text-decoration: underline solid $very-dark-violet;
                }
            }
    
            .attribution {
                font-size: 12px;
                text-transform: none;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    body {
        nav {
            padding: 1.25rem 9rem;

            .menu-ham {
                display: none;
            }

            .menu {
                background-color: transparent;
                position: static;
                width: 500px;
                height: auto;
                transform: none;
                letter-spacing: 0.1em;

                img {
                    display: none;
                }

                ul {
                    flex-direction: row;
                    justify-content: space-between;
                }

                ul li {
                    color: $dark-grayish-violet;
                    width: auto;
                    height: auto;
                }

                ul li:hover {
                    border: none;
                    color: $dark-violet;
                }

                ul li:last-child{
                    color: $very-dark-violet;
                    border: 1px solid $very-dark-violet;
                    width: 150px;
                    height: 40px;
                }

                ul li:last-child:hover {
                    color: $very-light-gray;
                    background-color: $very-dark-violet;
                    border: $very-light-gray;
                }
            }
        }

        .introduction {
            padding: 8rem 9rem;

            .line {
                display: block;
                height: 1px;
                width: 150px;
                background-color: $very-light-gray;
                margin-bottom: 3rem;
            }

            .intro-mobile {
                display: none;
            }

            .intro-desktop {
                display: block;
                position: absolute;
                right: 9rem;
                top: 8rem;
            }

            .content {
                padding: 0;
                width: 47%;
                text-align: left;
                background: transparent;

                h1 {
                    font-size: 4em;
                    padding-right: 3rem;
                    line-height: 1em;
                }

                p {
                    margin: 2rem 0 2rem 0;
                }
            }

            .content::before, .content::after {
                display: none;
            }
        }

        .introduction::after {
            content: '';
            background: url(../images/bg-pattern-intro-left-desktop.svg) no-repeat;
            position: absolute;
            background-position: top left;
            width: 50%;
            height: 100%;
            left: 0;
            bottom: -435px;
        }

        .introduction::before {
            content: '';
            background: url(../images/bg-pattern-intro-right-desktop.svg) no-repeat;
            position: absolute;
            background-position: top -80px right 0;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            z-index: 1;
        }

        main {
            padding: 15rem 9rem 7rem 9rem;
            text-align: left;
            align-items: flex-start;
            position: relative;

            .line {
                width: 150px;
            }

            h1 {
                font-size: 4em;
            }

            .content {
                grid-template-areas: "snappy prices people";
                gap: 0 1.5rem;
            }
        }

        .closing {
            margin: 0 9rem;
            .content {
                padding: 4rem;
                background: url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat;
                background-position: top right;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                align-items: center;

                h1 {
                    margin-bottom: 0;
                    width: 45%;
                    font-size: 3em;
                    line-height: 1em;
                }
            }
        }

        footer {
            .footer__child {
                padding: 3rem 9rem;
                background: url(../images/bg-pattern-footer-desktop.svg) no-repeat;

                .logo {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }

                .footer__menu {
                    grid-template-areas: "company help contact others";
                    gap: 0 2.5rem;
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
}