@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
    margin: 0;
    min-width: 350px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    // padding: 40px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        position: relative;
        flex-direction: column;
        border-radius: 20px;
        background-color: white;
        align-items: center;
        // flex: 0 1 40%;
        box-sizing: border-box;
        width: 90%;
        max-width: 350px;
        height: 50%;

        // .images {
        //     width: 100%;
        //     height: auto;
        //     box-sizing: border-box;
            // background: url(../images/drawers.jpg) no-repeat;
            // background-size: contain;

        .foto {
            width: 100%;
            height: 215px;
            display: flex;
            // flex: 0 1 10%;
            height: 40%;
            max-height: 200px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        //}

        .description {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            // flex: 0 1 40%;
            padding: 30px 30px 15px 30px;
            display: flex;
            flex-direction: column;
            // position: relative;

            .description-title, .description-content {
                margin-top: 5px;
                margin-bottom: 5px;
                color: hsl(217, 19%, 35%);
            }

            .description-title {
                font-size: 20px;
                font-weight: 700;
            }

            .description-content {
                color: hsl(214, 17%, 51%);
                font-size: 15px;
            }

            .description-profile {
                margin-top: 25px;
                display: flex;
                flex-direction: row;

                .profile-photo {
                    width: 15%;
                    margin-right: 15px;
                    
                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 20px;
                    }
                }

                .profile-container {
                    width: 85%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .profile-content {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        box-sizing: border-box;

                        .profile-name {
                            margin-bottom: 5px;
                            font-weight: 700;
                            color: hsl(217, 19%, 35%);
                        }

                        .profile-post {
                            font-weight: 500;
                            color: hsl(214, 17%, 51%);
                        }
                    }

                    .profile-share-button {
                        border-radius: 100%;
                        width: 2.5em;
                        height: 2.5em;
                        border: transparent;
                        cursor: pointer;
                        outline: none;
                        z-index: 1;
                        background-color: hsl(210, 46%, 95%);

                        // .profile-share { //ini div
                        //     background-color: hsl(210, 46%, 95%);
                        //     border-radius: 40px;
                        //     width: inherit;
                        //     height: inherit;
    
                            // svg {
                            //     display: flex;
                            //     left: 30px;
                            //     width: 100%;
                            //     height: 100%;
                            //     // cursor: pointer;
                            //     display: flex;
                            //     justify-content: center;
                            //     align-items: center;
                            //     align-content: center;
    
                                //  path {
                                //      align-content: center;
                                //      transform: translate(0, -15.674);
                                //      z-index: 3;
                                //  }
                            //}
                        // }

                        &:hover, &:focus {
                            background-color: hsl(214, 17%, 51%);
                                
                            svg {
                                path {
                                    fill: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .callout {
                background-color: hsl(217, 19%, 35%);
                //WKWKWK LUPA TERNYA MAIN width 100% height 100% makanya kok sama kek body
                width: 100%;
                height: 12%;
                display: flex;
                position: absolute;
                flex-direction: row;
                bottom: 0;
                left: 0;
                color: hsl(214, 17%, 51%);
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 25px 120px 25px 20px;
                box-sizing: border-box;
                justify-content: space-between;
                // visibility: hidden;

                span {
                    font-size: 13px;
                    letter-spacing: 5px;
                    font-weight: 700;
                }

                .social-media {
                    width: 20px;
                    height: 20px;
                }
        }
    }
}

.attribution {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

@media (min-width: 800px) {
    body {
        // margin: 0;
        padding: 0;
        

        main {
            flex-direction: row;
            width: 700px;
            max-width: 700px;
            height: 300px;
            box-sizing: border-box;

            //.images {
                // height: 100%;

            .foto {
                width: 40%;
                height: 100%;
                max-height: 100%;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 20px;

            }
            //}

            .description {
                width: 70%;
                box-sizing: border-box;
            }

            .callout {
                width: 250px;
                height: 50px;
                border-radius: 10px;
                padding: 15px;
                justify-content: space-around;
                //default value for left itu auto
                left: auto;
                bottom: 80px;
                right: -60px;
            }

            .callout::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 51%;
                //jadi ini dibuat ga ada lebar cuma pake border
                width: 0;
                border-top: 15px solid hsl(217, 19%, 35%);
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
        }
    }
}