@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    min-height: 100vh;
    padding: 40px 30px 0px 30px;
    align-items: center;

    main {
        display: flex;
        position: relative;
        flex-direction: column;
        border-radius: 20px;
        background-color: white;
        align-items: center;
        box-sizing: border-box;

        .images {
            width: 100%;
            height: auto;
            // background: url(../images/drawers.jpg) no-repeat;
            // background-size: contain;

            img {
                width: 100%;
                height: 215px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }

        .description {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 30px 30px 15px 30px;
            display: flex;
            flex-direction: column;
            // position: relative;

            .description-title, .description-content {
                margin-top: 5px;
                margin-bottom: 5px;
                color: hsl(217, 19%, 35%);
            }

            .description-title {
                font-size: 20px;
                font-weight: 700;
            }

            .description-content {
                color: hsl(214, 17%, 51%);
                font-size: 15px;
            }

            .description-profile {
                margin-top: 25px;
                display: flex;
                flex-direction: row;

                .profile-photo {
                    width: 15%;
                    margin-right: 15px;
                    
                    img {
                        width: 45px;
                        height: 45px;
                        border-radius: 20px;
                    }
                }

                .profile-container {
                    width: 85%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .profile-content {
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        box-sizing: border-box;

                        .profile-name {
                            margin-bottom: 5px;
                            font-weight: 700;
                            color: hsl(217, 19%, 35%);
                        }

                        .profile-post {
                            font-weight: 500;
                            color: hsl(214, 17%, 51%);
                        }
                    }

                    .profile-share { //ini div
                        background-color: hsl(210, 46%, 95%);
                        border-radius: 40px;
                        width: 30px;
                        height: 30px;
                        z-index: 2;

                        svg {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            align-content: center;

                             path {
                                 align-content: center;
                                 transform: translate(0, -15.674);
                             }
                        }
                    }
                }
            }
        }

        .callout {
                background-color: hsl(217, 19%, 35%);
                //WKWKWK LUPA TERNYA MAIN width 100% height 100% makanya kok sama kek body
                width: 100%;
                height: 12%;
                display: flex;
                position: absolute;
                flex-direction: row;
                bottom: 0;
                left: 0;
                color: hsl(214, 17%, 51%);
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 25px 120px 25px 20px;
                box-sizing: border-box;
                justify-content: space-between;
                visibility: hidden;

                span {
                    font-size: 13px;
                    letter-spacing: 5px;
                    font-weight: 700;
                }

                .social-media {
                    width: 20px;
                    height: 20px;
                }
            }
    }
}

.attribution {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}