body {
    margin: 0;
    padding: 0;
    /* pas engga dispesifikasi heightnya berapa bg color ga keluar karena emang default valuenya 0 jadi mana bisa kelihatan */
    height: 100vh;
    background-image: -webkit-linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;;
}

.container {
    height: 400px;
    width: 850px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: grid;
    grid-template-areas: 'canvas faq';
    grid-template-columns: 1.35fr 2fr;
}

.background {
    grid-area: canvas;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 750px 700px;
    background-position: right -200px;
    overflow: hidden;
    position: relative;
}

/* gimana caranya biar sama kek ukuran kek background */
.background .woman {
    width: 422px;
    height: 309px;
    /* pas pake absolute jadi keluar tapi pas pake relative enggak ternyata itu pengaruh dari cube */
    position: absolute;
    top: 50px;
    left: -80px;
}

.container .cube {
    position: absolute;
    width: 121px;
    height: 114px;
    top: 185px;
    left: -60px;
}

.faq {
    grid-area: faq;
    margin: 30px 60px 40px 60px;
}

.faq h3 {
    font-size: 30px;
}

table {
    display: flex;
    flex-direction: column;
}

/* tr {
    margin: 3px;
    padding: 5px; 
} */

tr td {
    border-bottom: 2px solid hsl(240, 5%, 91%);
    width: 350px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
}

table tr td:hover {
    color: hsl(14, 88%, 65%);
}

#hidden {
    display: none;
}
