@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(135deg, white, #fff5f5);
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  min-width: 350px;
}

body main .brand-logo {
  margin: 20px;
  width: 100px;
  height: 20px;
}

body main .model-photo-desktop {
  display: none;
}

body main .content {
  margin-top: 50px;
  color: #ce9797;
  padding: 10px 20px 20px 20px;
  text-align: center;
}

body main .content .content-title {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 300;
}

body main .content .content-title span {
  font-weight: 600;
  color: black;
}

body main .content .content-description {
  margin-top: 20px;
  line-height: 1.4;
}

body main .content form {
  margin-top: 25px;
  position: relative;
  width: 100%;
}

body main .content form input {
  border: 0.5px solid #ce9797;
  width: inherit;
  padding: 5px 10px 5px 25px;
  height: 45px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: transparent;
}

body main .content form ::-webkit-input-placeholder {
  color: #ce9797;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

body main .content form :-ms-input-placeholder {
  color: #ce9797;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

body main .content form ::-ms-input-placeholder {
  color: #ce9797;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

body main .content form ::placeholder {
  color: #ce9797;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

body main .content form .btn-email {
  position: absolute;
  width: 60px;
  height: 45px;
  cursor: pointer;
  bottom: 32px;
  right: 0;
  border: none;
  outline: none;
  border: none;
  -webkit-box-shadow: 16px black;
          box-shadow: 16px black;
  border-radius: 35px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
}

body main .content form .btn-email::before {
  display: none;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
          box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 2.8rem;
}

body main .content form .btn-email:hover::before {
  display: inline;
}

body main .content form .error-icon {
  position: absolute;
  bottom: 42px;
  right: 70px;
  visibility: hidden;
}

body main .content form .error-message {
  margin-top: 15px;
  color: #f96262;
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  body main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: none;
    min-width: 1125px;
  }
  body main .brand-logo {
    margin: 70px 0px 0px 180px;
    left: 0;
    position: absolute;
  }
  body main .model-photo-mobile {
    display: none;
  }
  body main .model-photo-desktop {
    display: block;
    width: 40%;
  }
  body main .content {
    margin: 170px 230px 0px 180px;
    text-align: left;
    padding: 0;
  }
  body main .content .content-title {
    letter-spacing: 10px;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=main.css.map */